body{
    background-color: #212121;
    color: aliceblue;
}
 .banner{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 #clock{
    font-size: 12px;
    padding: 20px 50px;
    margin-top: 12px;
    background-color: orange;
    border-radius: 15px;
 }
